*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.background{
    background-color: rgb(212, 225, 225);
}


.header{
    background-color: rgb(195, 214, 214);
    padding: 5px;
    width: 100%;  
    position: fixed;
    padding-right: 0px;
}

.header .logo{
    font-size: 30px;
    color:rgb(13, 83, 67);
    margin: 5px;
    display: inline-block;
    font-weight: 600;
}

.header .logo .logo-a {
    text-decoration: none;
    color: rgb(13, 83, 67);
}

.header .logo .fa-solid{
    font-size: 30px;
    padding: 0 10px;
    /* float: left; */
}

.header .search{
    padding-left: 486px;
    /* padding-right: 300px; */
    margin: 5px;
    display: inline-block;
}

.header .search input{
    height: 35px;
    width: 340px;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
}

.header .search button{
    height: 33px;
    width: 45px;
    text-align: center;
    background-color: rgb(29, 148, 148);
    border: none;
}

.header .search button:hover{
    opacity: 1;
    cursor: pointer;
}

.header .sign{
    font-size: 31px;
    font-weight: 300;
    position: absolute;
    right: 12px;
    top: 5px;
    
}

.header .sign button{
    display: inline-block;
    padding: 8px 8px;
    font-size: 15px;
    border-style: none;
    background-color: rgb(89, 129, 129);
    color: white;
    margin-bottom: 5px;
    margin-right: 10px;
}

/*  slider */
.slider{
    display: flex;
    padding-top: 5px;
    margin-right: 0;
    padding-top: 68px;
}

.slider .slider-category{
    width: 228px;
    background-color: rgb(85, 183, 181);
    height: 210.8px;
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    position: fixed;
}

.slider .slider-category .name{
    display: flex;
    padding-left: 10px;
    padding: 5px;
    font-size: 25px;
    color:rgb(16 59 50);
}

.slider .name .fa-solid.fa-list{
    padding-right:10px ;
}

.slider-category .name p{
    font-weight: 300px;
}

.slider-category .category_list{
    background-color: rgb(173, 220, 220);
    padding-left: 10px;
    list-style: none;
}

.slider-category .category_list a{
    padding: 8px 0;
    color: rgb(18, 53, 54);
    text-decoration: none;
    display: block;
}

.slider-category .category_list a:hover{
    background-color: rgba(0,0,0,0.1);
}

.slider .slider-img {
    padding-left: 247px;
}

.slider .slider-img img{
    width: 821px;
    max-height: 409px;
}

.slider .slider-top{
    margin-left: 40px;
    width: 389px;
    /* height: 533px; */
    max-height: 400px;

}

.slider .slider-top img{
    height: 33.33333%;
    display: inline-block;
    min-width: 389px;
}

.footer {
    background-color: rgb(84, 142, 122);
    position: absolute;
    width: 1479px;
    padding: 20px 20px;
}

.footer .company {
    float: left;
    padding-left: 30px;
    padding-right: 150px;
}

.footer .company .logo {
    font-size: 30px;
    margin: 5px;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 20px;
}

.company .logo .logo-a {
    text-decoration: none;
    color: rgb(13, 83, 67);
} 

.company-home .logo .fa-solid{
    font-size: 30px;
    padding: 0 10px;
    /* float: left; */
} 

.company .company-home {
    padding-bottom: 15px;
}

.company .company-home .company-list{
    display: flex;
    list-style: none;
}

.company-home .company-list li a{
    text-decoration: none;
    padding: 0 5px;
    color: rgb(18, 53, 54);
}

.company-home .company-list li a:hover {
    opacity: 1;
}

.company .company-year {
    padding-left: 5px;
    color: rgb(18, 53, 54);
    font-style: italic;
    font-size: 12px
}

.footer .information{
    float: left;
    width: 300px;
    padding-right: 147px;
}

.footer .information .information-list{
    list-style: none;
    line-height: 1.8;
    color: rgb(18, 53, 54);
}

.footer .information .information-list:first-child{
    line-height: 1.4;
}

.information .information-list li i{
    padding-right: 10px;
}

.footer .introduce {
    float: left;
    width: 376px;
    color: rgb(18, 53, 54);
}

.footer .introduce .intro-title{
    font-size: 24px;
}

.footer .introduce .intro-content{
    text-align: justify;
    line-height: 1.2;
    font-size: 14px;
}

.intro-list .intro-media{
    list-style: none;
    display: flex;
}

.intro-media li a{
    padding-right: 10px;
    color:rgb(18, 53, 54);
}