
{% extends "pages/base.html" %}
{% load static %}  
{% block title %} 
    {{painting.name}}
{% endblock %}

{% block link %} 
    <link rel="stylesheet" href="{% static 'paiting_detail.css' %}" > 
{% endblock %}

{% block content %}
<div class="detail">
    <div class="detail-content">
            <img src="{{ painting.image.url }}" class="detail-img" alt="">
            <h3>{{ painting.name }}</h3>
            <p class="dt-ct-date">Ngày đăng tải: {{ painting.upload_date }}</p>
        
        <p> Mô tả: {{ painting.description }}</p>
        
    </div>
    <div class="list-update">
        <p class="list-title">Danh sách tranh</p>
        <hr>
        <div class="list-update-content">
        {% for painting in paintings %}
        <a href="{% url 'detail' pk=painting.id %}">{{ painting.name }}</a> <br>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}