{% extends "pages/base.html" %}
{% load static %}

{% block title %} 
  Upload picture
{% endblock %}
{% block link %} 
    <link rel="stylesheet" href="{% static 'upload.css' %}" > 
{% endblock %}
{% block content %}
  <div class="upload">
    <h2>Đăng tranh</h2>
    <div class="upload-a">
      <h3>Tải tranh lên</h3>
      <form method="post" enctype="multipart/form-data" class="upload-content">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
      </form>
    </div>   
  </div>
{% endblock %}
